@use "../_setting" as s;

.globalNavi {
	display:none;
	@include s.media(m){
		display:block;
	}
}

// .globalNaviSmall　グローバルナビ ハンバーガーメニュー
.globalNaviSmall {
	&__icon {
		width: 4em;
		height: 4em;
		position: absolute;
		top:0;
		right:0;
	}
	&__iconButton{
		width: 4em;
		height: 4em;
		cursor:pointer;
		float: right;
		display: block;
		background: rgba(255,255,255,1);
		position: relative;
		margin:0.5em 0.5em 0.5em 0.5em;
		z-index:999;
	}
	&__icon span {
	    width: 2.5em;
	    height: 1px;
	    display: block;
	    background: s.$colorType03;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -33%; 
	}
}

.globalNaviSmall__icon.is-open{
	width: 4em;
	height: 4em;
	position: fixed;
	top:0;
	right:0;
	z-index: 999;
}
	

.globalNaviSmall{
	&__icon--type01{
		// ハンバーガーメニュー 押す前
		span {
		  -webkit-transition: all 0.3s;
		          transition: all 0.3s;
		  -webkit-transform: rotate(0deg);
		      -ms-transform: rotate(0deg);
		          transform: rotate(0deg); 
		}
		.iconButton--top {
		  -webkit-transform: translateY(-0.7em);
		      -ms-transform: translateY(-0.7em);
		          transform: translateY(-0.7em); 
		}
		.iconButton--bottom {
		  -webkit-transform: translateY(0.7em);
		      -ms-transform: translateY(0.7em);
		          transform: translateY(0.7em); 
    	}

    	// ハンバーガーメニュー hover
		&:hover {
			.iconButton--top {
			  -webkit-transform: translateY(-0.8em);
			      -ms-transform: translateY(-0.8em);
			          transform: translateY(-0.8em);
			}
			.iconButton--bottom {
			  -webkit-transform: translateY(0.8em);
			      -ms-transform: translateY(0.8em);
			          transform: translateY(0.8em); 
          	}
    	}

    	// ハンバーガーメニュー 押した後の動き
		&.is-open {
			.iconButton--middle {
			  background: rgba(255, 255, 255, 0);
			}
			.iconButton--top {
			  -webkit-transform: rotate(-45deg) translateY(0px);
			      -ms-transform: rotate(-45deg) translateY(0px);
			          transform: rotate(-45deg) translateY(0px); 
			}
			.iconButton--bottom {
				  -webkit-transform: rotate(45deg) translateY(0px);
				      -ms-transform: rotate(45deg) translateY(0px);
				          transform: rotate(45deg) translateY(0px);
			}
    	}
	}
}



/* .globalNaviSmall　スマホグローバルナビ
------------------------------------------ */
#wrapper .globalNaviSmall {
	display:block;
	width:100%;
	position: absolute;
	z-index:888;
	top:0;
	left:0;
	@include s.media(m){
		display: none;
	}
	&__siteTitle{
		padding:0 24% 1em 24%;
		margin:0.5em 0;
		img{
			width:100%;
		}
		small{
			font-family:s.$serif;
			letter-spacing:0.1em;
			color:#FFF;
			display:block;
			text-align:center;
		}
		span{
			font-size:0.9em;
			color:#FFF;
			display:block;
			text-align:center;
			font-weight:bold;
			margin-top:0.2em;
		}

	}
	&__menu{
		width:100%;
	  	max-height: 100vh;
		display:block;
		&__inner{
			background:s.$colorType02;
			width:100%;
		  	min-height: 100vh;
			overflow-x:hidden;
			overflow-y:auto;
  			padding: 1em 2em 1em 2em;
			display:block;
		}
		&__main{
			li {
				display:block;
				margin-bottom:0.3em;
				a{
					text-align:center;
					background:#FFF;
					padding:0.8rem 0;
					display:block;
					span{
						display:block;
						font-family: "FuturaLTPro-Medium";
						//font-family: 'Hind', sans-serif;
						letter-spacing:0.1em;
						font-weight:bold;
					}
					small{
						display:block;
						color:#7d7d7d;
						font-family: "YuGothic-M";
						font-weight: normal;
						 src: local("YuGothic-Medium"),
							  local("Yu Gothic Medium"),
							  local("YuGothic-Regular");
					}
					&:hover{
						color:#999;
					}
				}
			}
		}
		&__sub li{
  			padding:0 0 0 1em;
		}
	}
	&__entry{
		display:block;
		margin-bottom:5em;
		a{
			background: s.$colorType03;
			padding:0.8em 0.5em;
			display:block;
			color:#FFF;
			text-align:center;
			vertical-align:middle;
			font-size:1.2em;
			text-decoration:none;
			display:block;
			font-family: "FuturaLTPro-Medium";
			//font-family: 'Hind', sans-serif;
			letter-spacing:0.1em;
		}
	}
	.modal__overlay {
		background: none;
	}
	.modal__container {
		background:rgba(255,255,255,.95);
		width:100%;
		max-width: 100%;
		border-radius: 0;
  		padding: 0;
		min-height: 100vh;
	}
}


/* Safari */
_:lang(x)+_:-webkit-full-screen-document, .globalNaviSmall__menu {
  min-height: -webkit-fill-available;
}
_:lang(x)+_:-webkit-full-screen-document, .globalNaviSmall__menu__inner {
  min-height: -webkit-fill-available;
}

//以下768px以上で適用される　レイアウトの指定-----------------------------------------------
@include s.media(m){

#wrapper .globalNavi{
	&__menu{
		&__main{
			margin-top:0.5em;
			>li {
				width: 168px;
				width: 11.1%;
				//width: 12.1%;
				height: 5em;
				padding:0.7em 0 0 0;
				text-align:center;
				display:block;
				float: left;
			   	position: relative; /*z-indexの指定や子要素の基準とするために指定*/
			   	z-index: 2; /*ドロップダウンしたメニューが隠れないように*/
				a span{
					font-family: "FuturaLTPro-Medium";
					//font-family: 'Hind', sans-serif;
					font-weight:bold;
					font-size:0.8em;
					line-height:1.2;
				}
				a small{
					color:#7d7d7d;
					text-align:center;
					font-size:0.5em;
					font-size:0.6em;
					display:block;
					font-family: "YuGothic-M";
					font-weight: normal;
					 src: local("YuGothic-Medium"),
						  local("Yu Gothic Medium"),
						  local("YuGothic-Regular");
					font-weight:500;
				}
				&:nth-child(1){
					width: 11%;
					//width: 13%;
				}
				&:nth-child(2){
					width: 9%;
					//width: 10%;
				}
				&:nth-child(5){
					width: 13%;
					//width: 15%;
				}
				&:nth-child(8){
					width: 11%;
				}
			}
			li a {
				text-decoration:none;
				display:block;
				&:hover {
					text-decoration:none;
					color: s.$colorType03;
				}
			}
		}
	}
	&__entry{
		width:13.75em;
		height: 5.5em;
		display:block;
		position:absolute;
		right:0;
		top:0;
		transition:all .2s ease;
		@include s.media(m){
			position:absolute;
			right:0;
			top:5.5em;
		}
		@include s.media(xxl){
			position:absolute;
			right:0;
			top:0;
		}
		a{
			width:100%;
			height:100%;
			display:block;
			color:#FFF;
			background:s.$colorType03;
			color:#FFF;
			font-size:1.125em;
			text-align:center;
			line-height:1.5;
			font-family: 'Noto Sans JP', sans-serif;
			font-weight: 700;
			padding-top:0.9em;
			&:hover{
				background:#000;
			}
		}
	}
}

/* When Active Page */
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(1)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(2)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(3)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(4)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(5)>a {color:#EEE !important; pointer-events: none;}
body#■■ .globalNavi ul.globalNavi__menu__main>li:nth-child(6)>a {color:#EEE !important; pointer-events: none;}


// globalNavi__menu__sub
.globalNavi {
	ul{
		li{
			ul.globalNavi__menu__sub {
				width:100%;
			  	opacity: 0;  /*サブメニューは最初は非表示にしておく*/
			  	visibility: hidden;  /*サブメニューは最初は非表示にしておく*/
			  	position: absolute;  /*絶対配置にしておかないとうまくいかない*/
			  	top: 3.7em;
			  	left: 0;
			  	border-top: 1px solid #EEE;  /*ボーダートップを指定*/
			    -webkit-transition: all .2s ease;
			    transition: all .2s ease;
			    li{
					height:auto;
				  	float: none;  /*サブメニューはフロートさせないので解除*/
				  	padding: 0;  /*親メニューのパディングを解除*/
					margin:0;
					*margin-top:-8px;
					display:block;
					line-height:1.5em;
					a{
					  	border: 1px solid #eee;  /*ボーダーの指定*/
					  	border-top: none;  /*ボーダートップは重なって太くなるので解除。一番上は ul 要素に指定*/
					  	padding: 0.8rem 0;
					  	background-color: #FFF;
						text-decoration:none;
					  	color: s.$colorType03;
						text-align:center;
						display:block;
						font-size:0.9em;
						&:hover{ 
							color:#000;
						  	background-color: #EEE;
						}
					}
				}
			}
			&:hover ul.globalNavi__menu__sub {
				width:100%;
			  	top: 3.9em;
			    visibility:visible;
			    opacity: 1;
			  	display: block;    /*マウスオーバー時にサブメニューを表示する*/
			}
		}
	}
}

.globalNavi.globalNaviAccordion ul.globalNavi__menu__sub li{
  	padding:0;
}

/* When Active Page */
/*body#■■ .globalNavi ul.globalNavi__menu__main li:nth-child(■) ul.globalNavi__menu__sub li:nth-child(■) a { color:#000; background-color: #DDD; pointer-events: none; }*/

} 
// 768px以上で適用される　レイアウトの指定　ここまで